.evidence {
  &__list {
    list-style-type: none;
    margin: 0 0 4rem 0;

    @supports (display: grid) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    }
  }

  &__item {
    border: 1px solid black;
    background: $beige-light;
    margin: 1.5rem;
    padding: 2rem;
    line-height: 1.5;
    float: left;
    width: 24rem;
    cursor: pointer;

    @supports (display: grid) {
        width: unset;
        float: unset;
    }

    &--term {
      display: inline;

      &::after {
        content: ":";
      }
    }

    &--definition {
      margin: 0;
      display: inline;
    }

    &--heading {
      color: $black;
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }

    &--link {
      margin-top: 2rem;
      display: inline-block;
    }
  }
}