/* Hearings */

.page-template-page-hearings {
    table {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        table-layout: fixed;
        width: 100%;
        margin-bottom: 30px;

        h2 {
            font-size: 1.4em;
        }

        caption {
            padding: .625em;
            text-align: left;
            font-weight: bold;
        }
    }

    table tr {
        background-color: $grey-light;
        border: 2px solid #fff;
        padding: .35em;
    }

    table th,
    table td {
        padding: .625em;
        text-align: left;
    }

    // "date" column width
    thead tr th:nth-child(1) {
        width: 15%;
    }

    // "hearing" column width
    thead tr th:nth-child(2) {
        width: 45%;
    }

    // "link" column width
    thead tr th:nth-child(3) {
        width: 40%;
    }

    @media screen and (max-width: 600px) {
        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            display: block;
            margin-bottom: 12px;
        }

        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            text-align: right;
        }

        table td::before {
            content: attr(data-label);
            float: left;
        }
    }

    .hearing_document {
        margin-bottom: 12px;
    }
}

.hearings-template-default {

    .hearing_links,
    .hearing_document {
        padding-bottom: 6px;
        margin-bottom: 12px;
    }
}
