/* Search Styles */

.search {

    article {
        border-bottom: 2px solid $beige-dark;
    }

    .search-submit {
        background: $beige-dark;
        padding: 10px 18px;
        color: $white;
        border: none;
    }

    .search-navigation {
        margin-bottom: 15px;

        .current {
            font-weight: bold;
        }
    }

    /* Search filter */

    .brookhouse-search-filter {
        display: inline-flex;
        max-width: 400px;
    }

    .brookhouse-input-group-dropdown {
        .category-dropdown-menu {
            padding: 7px;
        }
    }

    @media screen and (max-width: 649px) {
        .brookhouse-search-filter {
            display: block;
            max-width: 400px;
            margin-bottom: 7px;
        }
    }
}
