/* Colours */

$beige: #b0a294;

$beige-light: #eadfde;

$beige-dark: #847462;

$blue: #1d70b8;

$blue-pale: #b8c8dc;

$blue-light: #d6dfe9;

$black: #000000;

$grey: #666666;

$grey-dark: #2b2b2b;

$grey-light: #efefef;

$red: #cc0000;

$teal: #203940;

$yellow: #ffdd00;

$white: #FFFFFF;
