.flex-grid {
    display: flex;
}

.flex-grid .col {
    flex: 1;
}

.flex-grid .col.shrink-two {
    flex-shrink: 2;
}

.flex-grid .col.grow-one {
    flex-grow: 1;
}

.flex-grid .col.grow-two {
    flex-grow: 2;
}

.flex-grid .col.grow-three {
    flex-grow: 3;
}

.flex-grid .col.grow-four {
    flex-grow: 4;
}

.flex-grid .col.grow-five {
    flex-grow: 5;
}

.flex-grid .col > div {
    padding:10px;
}


@media (max-width: 769px) {
    .flex-grid {
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .flex-grid {
        flex-direction: column;
    }
}
