.menu-languages-container {
  border-top: 1px solid black;
}

.menu-languages-container .menu-item {
  display: inline-block;
  padding: 1rem 1.75rem;
}

.menu-languages-container #menu-languages {
  max-width: 90rem;
  margin: 0 auto;
  padding: 1rem;
}


/* Footer */

footer.site-footer {
  width: 100%;
  border-top: 10px solid #666;
  background-color: #efefef;
  padding-bottom:100px;
}

#footer-nav {
  width: 100%;
  margin-top: 15px;
}

#footer-nav h2 {
  font-weight: bold;
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
  border: 0;
}

#footer-nav col {
  padding-left: 15px;
}

#footer-nav ul.footer-menu {
  list-style: none;
  margin: 0;

}

#footer-nav ul.footer-menu li {
  margin-bottom: 10px;
}