.menu-languages-container {
  border-top: 1px solid black;
}

.menu-languages-container .menu-item {
  display: inline-block;
  padding: 1rem 2rem;
}

.menu-languages-container #menu-languages {
  max-width: 90rem;
  margin: 0 auto;
  padding: 1rem;
}
