#topbar {
    background-color: #666666;
    height: 29px;
    width: 100%;
    position: fixed;
}

#topbar > div {
    margin-top: 0;
}

#topbar a.button {
    float: right;
    display: inline-block;
    position: relative;
    width: 60%;
    height: 20px;
    overflow: hidden;
}

#topbar a.button:hover {
    background-color: #FF861C;
}

/*body:not(.page-talk-to-us):not(.parent-pageid-18) #topbar a.button:after {
    content: '';
    top: 0;
    transform: translateX(100%);
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 1;
    animation: shine 6s infinite 3s;

    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%); !* FF3.6+ *!
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(99%, rgba(128, 186, 232, 0)), color-stop(100%, rgba(125, 185, 232, 0))); !* Chrome,Safari4+ *!
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%); !* Chrome10+,Safari5.1+ *!
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%); !* Opera 11.10+ *!
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%); !* IE10+ *!
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%); !* W3C *!
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#007db9e8', GradientType=1); !* IE6-9 *!
}*/

#topbar a.button span {
    color: #fff;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .02em;
    width: 100%;
    text-align: center;
}

#topbar a.button span {
    top: 46%;
}

/* animation */

@keyframes shine {
    0% {
        transform: translateX(-100%);
    }
    /* Finish changes by here */
    20% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translateX(100%);
    }
}

/* Header */
#masthead {
    width: 100%;
    background-color: #e8e8e2;
    padding: 50px 0 15px 0;
    border-bottom: 20px solid #333;
}

.home #masthead {
    border-bottom-width: 10px;
}

.site-branding {
    max-width: 990px;
    margin: 5px auto 0;
}

.site-branding img {
    max-width: 98%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}


.site-title {
    font-family: Montserrat, cursive;
    padding: 15px;
    display:inline-block;
}
.site-title span {
    display: block;
    padding-left: 15px
}

#tagline {
    background: -moz-linear-gradient(251deg, #02c4ed 0%, #0084a1 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #02c4ed), color-stop(100%, #0084a1)); /* safari4+,chrome */
    background: -webkit-linear-gradient(251deg, #02c4ed 0%, #0084a1 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(251deg, #02c4ed 0%, #0084a1 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(251deg, #02c4ed 0%, #0084a1 100%); /* ie10+ */
    background: linear-gradient(199deg, #02c4ed 0%, #0084a1 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#02c4ed', endColorstr='#0084a1', GradientType=0); /* ie6-9 */
    padding: 1px;
}

.tagline {
    padding: 25px 100px 35px;
    text-align: center;
    font-size: 2.1em;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.4em;
}


@media screen and (max-width: 649px) {
    .site-title {
        font-size: 1.9em;
    }

    .tagline {
        font-size: 1.7em;
        padding: 25px 25px 35px;
    }
}

@media screen and (min-width: 650px) {
    .site-title {
        font-size: 1.8em;
    }

    .tagline {
        font-size: 1.8em;
        padding: 25px 65px 35px;
    }
}

@media screen and (min-width: 769px) {
    .site-title {
        font-size: 1.5em;
    }

    .tagline {
        font-size: 1.9em;
        padding: 25px 100px 35px;
    }
}

@media screen and (min-width: 830px) {
    .site-title {
        font-size: 1.7em;
    }

    .tagline {
        font-size: 2em;
        padding: 25px 100px 35px;
    }
}

@media screen and (min-width: 1000px) {
    .site-title {
        font-size: 2em;
    }

    .tagline {
        padding: 25px 100px 35px;
    }
}

