.bh-languages {
    text-align: right;
}

.bh-languages ul {
    padding: 0 10px 0 0;
    margin: 0;
    list-style: none;
    border-right: 3px solid #324243;
}

.bh-languages ul li.active a {
    font-weight: 700;
    color: #1d1d1d;
    font-size: .8em;
    text-decoration: none;
    cursor: text;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

.parent-pageid-18 h2 {
    border-bottom: 2px solid #666666;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.3em;
}

.locale-ur .locale-updates {
    direction: rtl;
}

.locale-updates .locale-text {

}

.locale-ur .locale-updates:not(label):not(h1):not(.locale-text-normal),
.locale-ur label.locale-updates .locale-text {
    font-size: 1.1em
}

.locale-text-enlarge {
    font-size: 1.2em
}

.locale-ur .locale-text-normal {
    font-size: 0.8em;
}

.locale-ur label.locale-updates {
    display: inline-block;
}

.locale-ur label.locale-updates input {
    font-size: 1em;
}

@media screen and (max-width: 769px) {
    .bh-languages ul {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        border:none;
        border-top: 3px solid #324243;
        padding-top:10px;
        margin-top:25px
    }

    .bh-languages ul li {
        flex: 2 0 auto;
        text-align: center;
    }
}
