#primary {
    float: none;
    overflow: hidden;
    margin-right: 15px;
}

#secondary {
    width: 200px;
    float: left;
    margin: 10px 15px 0 0;
}

#breadcrumbs-wrapper {
    width: 100%;
    background-color: #efefef;
    border-top: 10px solid #666;
    background: #efefef;
    min-height: 35px;
    padding: 0;
    overflow: hidden;
}

#breadcrumbs {
    max-width: 990px;
    margin: 10px auto;
    font-size: 0.9em;
    height: 0;
}

#breadcrumbs ul {
    padding: 0;
    margin: 0 17px 10px;
}

#breadcrumbs ul li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

#breadcrumbs ul li.breadcrumb-child {
    /*margin-right: 5px;*/
}

#breadcrumbs ul li.breadcrumb-child:before {
    content: "» ";
    margin-left: 5px;
}

h1.menu-toggle {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    height: 24px;
    width: 24px;
    text-align: center;
    background: url('../img/arrow_two_head_2.png') center center #666 no-repeat;
    z-index: 10;
    -webkit-transition: left 0.5s ease;
}

/* Nav Sidebar */
#secondary ul {
    padding: 0;
    list-style: none;
    margin: 10px 0 20px;
}

#secondary ul li a {
    display: block;
    background-color: #666;
    padding: 12px 15px 12px 15px;
    margin-bottom: 2px;
    color: #f1f2f2;
}

/*#secondary ul.sub-menu li.menu-item > a {
    background-color: #999;
}*/

#secondary ul li.menu-item:hover > a {
    background-color: #999;
}

#secondary ul.sub-menu li.menu-item:hover > a {
    background-color: #999;
}

#secondary ul li.current-menu-item > a,
.home #secondary ul li.menu-item-27 > a,
#secondary ul li.current-menu-item:hover > a,
#secondary ul.sub-menu li.current-menu-item:hover > a,
#secondary ul.sub-menu li.current-menu-item > a {
    background-color: #ed7004;
    color: #fff;
}

#secondary ul.sub-menu {
    margin: 0 0 0 20px;
}

/*.home .menu-item-27 {
    display: none;
}*/
